
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerDetallesAutos</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye tu archivo JavaScript -->
    <script src="~/Content/js/DetallesAutos.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Rent a <span>Car</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item active"><a href="car.html" class="nav-link">Cars</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Content/images/bg_3.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 pb-5">
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            <a href="index.html">
                                Home <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </span> <span>
                            Cars <i class="ion-ios-arrow-forward"></i>
                        </span>
                    </p>
                    <h1 class="mb-3 bread">Elige tu coche</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-car-details">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="car-details">
                        <div class="img rounded" style="background-image: url(/Content/images/bg_1.jpg);"></div>
                        <div class="text text-center">
                            <span class="subheading" id="marca">Cheverolet</span>
                            <h2 id="modelo">Mercedes Grand Sedan</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-dashboard"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Kilometraje
                                        <span>40,000</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-pistons"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Transmisión
                                        <span>Manual</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-car-seat"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Asientos
                                        <span id="Capacidad_Pasajeros"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-backpack"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Equipaje
                                        <span>4 Bolsas</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-diesel"></span>
                                </div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Combustible
                                        <span id="TipoCombustible"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pills">
                    <div class="bd-example bd-example-tabs">
                        <div class="d-flex justify-content-center">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-description-tab" data-toggle="pill"
                                       href="#pills-description" role="tab" aria-controls="pills-description"
                                       aria-expanded="true">Funciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill"
                                       href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer"
                                       aria-expanded="true">Descripcion</a>
                                </li>

                            </ul>
                        </div>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                                 aria-labelledby="pills-description-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check">
                                                <span class="ion-ios-checkmark"></span>Aire acondicionado
                                            </li>
                                            <li class="check"><span class="ion-ios-checkmark"></span>GPS</li>
                                            <li class="check"><span class="ion-ios-checkmark"></span>Equipaje</li>
                                            <li class="check"><span class="ion-ios-checkmark"></span>Música</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check">
                                                <span class="ion-ios-checkmark"></span>Cinturón de seguridad
                                            </li>
                                            <li class="check"><span class="ion-ios-checkmark"></span>Bluetooth</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check"><span class="ion-ios-checkmark"></span>Entrada de audio</li>
                                            <li class="check">
                                                <span class="ion-ios-checkmark"></span>Kit de coche
                                                bloqueo
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel"
                                 aria-labelledby="pills-manufacturer-tab">
                                <p>Incluso el todopoderoso Señalamiento no tiene control sobre los textos ciegos, es casi un Un día, sin embargo, una pequeña línea de texto ciego con el nombre de Lorem Ipsum decidió marcharse al lejano Mundo de la Gramática.</p>
                                <p>Cuando llegó a las primeras colinas de las montañas Itálicas, tuvo una última vista de vuelta el horizonte de su ciudad natal Bookmarksgrove, el titular de Alphabet Village y el sublínea de su propia carretera, el Line Lane. Lástima, una pregunta retórica la invadió mejilla, luego continuó su camino.</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>

    <script src="~/Content/js/main.js"></script>
</body>
</html>
